.product-item {
    font-family: 'Roboto Slab', serif;
    position: relative;
    z-index: 1;
    .product-image {
        border: 1px solid rgba(0, 0, 0, .1);
        overflow: hidden;
        perspective: 1500px;
        position: relative;
        transition: all .3s ease 0s;
        a {
            display: block
        }
        img {
            width: 253px;
            height: 253px;
        }
    }
    .pic-1 {
        opacity: 1;
        transition: all .5s ease-out 0s
    }
    .pic-2 {
        opacity: 0;
        transform: rotateY(-90deg);
        position: absolute;
        top: 0;
        left: 0;
        transition: all .5s ease-out 0s
    }
    :hover .pic-2 {
        opacity: 1;
        transform: rotateY(0)
    }
    .social {
        padding: 0;
        margin: 0;
        list-style: none;
        position: absolute;
        bottom: 3px;
        left: -20%;
        z-index: 1;
        transition: all .5s ease 0s
    }
    :hover .social {
        left: 17px
    }
    .social li a {
        color: #fff;
        background-color: #333;
        font-size: 16px;
        line-height: 40px;
        text-align: center;
        height: 40px;
        width: 40px;
        margin: 15px 0;
        border-radius: 50%;
        display: block;
        transition: all .5s ease-in-out
    }
    .social li a:hover {
        color: #fff;
        background-color: rgb(29, 74, 170);
    }
    .product-like {
        background-color: #fff;
        padding: 5px 10px;
        border-radius: 40px 40px 40px 40px;
        -moz-border-radius: 40px 40px 40px 40px;
        -webkit-border-radius: 40px 40px 40px 40px;
        display: block;
        position: absolute;
        top: 10px;
        left: 10px;
        .fa.fa-heart::after {
            color: red;
        }
    }
    .product-content {
        text-align: left;
        padding: 20px 0 0;
        width: 260px;
        float: left;
        button {
            margin-right: 10px;
            width: 100px;
            border-radius: 40px 40px 40px 40px;
            -moz-border-radius: 40px 40px 40px 40px;
            -webkit-border-radius: 40px 40px 40px 40px
        }
    }
    .title {
        font-size: 15px;
        float: left;
        width: 150px;
        font-weight: 600;
        text-transform: capitalize;
        margin: 0 0 10px;
        transition: all .3s ease 0s;
        a {
            color: #000;
        }
        a:hover {
            color: #ffc107;
        } 
    }    
}
@media only screen and (max-width:990px) {
    .product-item {
        margin-bottom: 30px
    }
}