.cart-container {
  .row {
    margin-top: 10px;

    .shopping-cart-item {
      background: white;

      .btn {
        margin-left: 30px;
      }

      .name {
        font-size: 16px;
        margin-top: 20px;
        font-weight: 400;
        padding-top: 0;

        .form-control {
          height: calc(1em + 0.5rem + 1.5px);
          width: 70px;
        }
      }

      .btn-link {
        margin-top: 15px;
      }
    }

    .list-info-price {
      background: white;
      margin-top: 10px;
      margin-left: 1px;

      .title {
        font-size: 16px;
        margin-top: 20px;
        font-weight: 400;
        padding-top: 0;
      }

      .price {
        margin-top: 20px;
        float: right;
        font-weight: 400;
      }
    }

    .total2 {
      background: white;
      margin-top: 1px;
      margin-left: 1px;

      .title {
        margin-top: 5px;
        display: inline-block;
      }

      .price {
        float: right;
        font-size: 22px;
        font-weight: 400;
      }
    }
  }
}

.tieude {
  background-color: #fff;
  width: 1140px;
  margin: auto;
  display: block;
  margin-top: 20px;
  padding: 1em;
}

.table1 {
  margin-top: 20px;
  margin-left: 3%;
  margin-bottom: 20px;
  width: 800px;
}