.cart-container {
  margin-top: 20px;

  .row {
    .cart-item {
      width: 840px;
      margin-bottom: 20px;
      margin-right: 10px;
    }
    .total {
      width: 290px;
      .list-info-price {
        background: white;

        .title {
          font-size: 16px;
          margin-top: 20px;
          font-weight: 400;
          padding-top: 0;
        }

        .price {
          margin-top: 20px;
          float: right;
          font-weight: 400;
        }
      }

      .total2 {
        background: white;
        margin-top: 1px;
        //margin-left: 1px;

        .title {
          color: #f7ca55;
          margin-top: 5px;
          display: inline-block;
        }

        .price {
          float: right;
          color: #f7ca55;
          font-size: 22px;
          font-weight: 400;
        }
      }

      .btn-checkout {
        margin-top: 8px;
        padding: 10px;
        width: 18em;
      }

      .btn-danger {
        font-weight: 530;
        color: #000000;
        background-color: #f7ca55;
        border-color: #f7ca55;
      }
    }
  }
}
