.nav-item a{
    color: black;
    font-size: 18px;
    margin-left: 50px;
}
.navitem{
    height: 50px;
    width: 2px;
    margin-left: 10px;
    background-color: #ebebeb;
}
.navbar navbar-expand-sm bg-light navbar-light{
    background-color: #ffffff !important;
}