.logreg-forms form {
    width: 100%;
    max-width: 700px;
    margin: auto;
}
.logreg-forms .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
}
.modal-title{
    margin-left: auto;
}