.navbar-container {
    background-color: #fff;
    box-shadow: 0 2px 4px 0 rgba(204, 204, 204, .22);
    padding: 0;
    z-index: 1002;

    .navbar-row {
        border-bottom: 1px solid #f1f1f1;

        .logo {
            width: 175px;
            height: 30px;
            cursor: pointer;
        }

        .navbar.navbar-light {
            width: 1140px;
            margin: auto;
            background-color: #FFF !important;

            .ml-auto.navbar-nav {
                .nav-item {
                    .fa-user {
                        margin-top: 10px;
                        cursor: pointer;
                        color: black;
                        font-size: 20px;
                    }

                    .btn-login {
                        border-radius: 50px;
                        margin-right: 12px;
                        background-color: #f7ca55;
                        border: none;
                        padding: 0 30px;
                        height: 40px;
                        font-weight: 600;
                        font-size: 13px;
                    }


                    .fa.fa-shopping-cart {
                        margin-top: 10px;
                        font-size: 20px;
                        cursor: pointer;
                        color: black;
                        margin-left: 5px;
                        margin-right: 3px;
                    }

                    .badge.badge-info {
                        line-height: 16px;
                        position: absolute;
                        display: inline-block;
                        background-color: red;
                        color: fff;

                    }

                }
            }
        }
    }


}