@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");

body {
    font-family: 'Montserrat Regular', sans-serif;
    font-size: 16px;

    main {
        margin-top: 112px;
        padding-bottom: 50px;
        min-height: calc(100vh - 112px - 244px);
        background-color: #ebebeb;
    }
}