body {
    margin: 0;
    font-family: 'Montserrat Regular', sans-serif;
    font-style: normal;
    font-weight: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;


    a:hover {
        text-decoration: none;
    }
}