.history
  {
    width: 1140px;
    margin-top: 20px;
    background-color: #fff;
    margin:auto;
    display: block;
  }
.table{
    height: auto;
    width: 1000px !important;
    margin-left: 60px;
    margin-bottom: 40px;
}